body {
    font-family: 'Noto Sans SC', sans-serif;
}

.container {
    text-align: center;
    background-color: #fff;
    margin-top: 30px;
}

.map-component {
    width: 100%;
}

.chart-container {
  display: inline-block;
  text-align: center;
}

.chart-component {
  display: inline-block;
  vertical-align: top;
}

.table-component {
  padding-left: 50px;
  width: 95%;
  overflow: scroll;
}

.usage-tip {
  background-color: #eee;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 200;
  margin: 10px auto;
  padding: 10px;
  width: 70%;
}
